html {
  font-family: sans-serif;
}

body {
	background: #ffc952;
	max-height: 100vh;
	/* overflow: hidden; */
	font-family: 'Raleway', sans-serif;
	span[type="button"] {
		-webkit-appearance: initial !important;
		appearance: initial !important;
	}
}

.root {
  color: #222;
}

.content {
	/* height: calc(100vh - 115px); */
	/* position: absolute; */
	margin-top: 15px;
	margin-left: 15px;
	// border: 2px solid #1f1a17;
	width: calc(100vw - 355px);
	vertical-align: top; /* here */
	display: inline-block;
	margin-bottom: 100px;
	background: #fff;
	& > div {
		padding: 15px;

	}
}


@media (max-width: 990px) {
	.content {
		width: calc(100vw - 30px);
	}
}
.loading {
	position: absolute;
	z-index: 9999;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -25px;
	/* margin-top: -50px; */
}

.snackbar > div {
	background: rgb(255, 255, 255) !important;
	span {
		color: #000 !important;
	}
}
